Repository vmware-tanzu/function-buildpacks-for-knative: changes, and which Codecov flags are due for each by the changed paths.
All: buildpacks, invokers, tests

Update java invoker version to 0.2.2
  invokers/java/VERSION
Due: invokers

Update Java invoker CPEs
  buildpacks/java/ytt/dependency-metadata.yaml
Due: buildpacks

Update java buildpack version to 1.1.2
  buildpacks/java/VERSION
  buildpacks/java/buildpack.toml
Due: buildpacks

Update builder references to 0.3.2
  DEPLOYING.md
  README.md
  samples/java/cloudevents/txt-to-pdf-gradle/Makefile
  samples/java/cloudevents/txt-to-pdf-maven/Makefile
  samples/java/http/request-response-gradle/Makefile
  samples/java/http/request-response-gradle/README.md
  samples/java/http/request-response-maven/Makefile
  samples/java/http/request-response-maven/README.md
  samples/python/cloudevents/s3-lambda/README.md
  samples/python/cloudevents/sqs-lambda/README.md
  samples/python/cloudevents/txt-to-pdf/Makefile
  samples/python/http/adder/README.md
Due: none

Update builder version to 0.4.2
  builder/VERSION
Due: none

Update builder references to 0.4.2
  DEPLOYING.md
  README.md
  samples/java/cloudevents/txt-to-pdf-gradle/Makefile
  samples/java/cloudevents/txt-to-pdf-maven/Makefile
  samples/java/http/request-response-gradle/Makefile
  samples/java/http/request-response-gradle/README.md
  samples/java/http/request-response-maven/Makefile
  samples/java/http/request-response-maven/README.md
  samples/python/cloudevents/s3-lambda/README.md
  samples/python/cloudevents/sqs-lambda/README.md
  samples/python/cloudevents/txt-to-pdf/Makefile
  samples/python/http/adder/README.md
Due: none

added files in github action
  .github/workflows/test-buildpacks.yml
Due: none

add network_prefix and name to invoker codecov
  .github/workflows/test-invokers.yml
Due: none

add a single code cov file
  .github/workflows/code-coverage.yml
Due: none

Add Coverage to the project (Buildpacks and Invokers) (#203)
  .github/workflows/code-coverage.yml
  .github/workflows/test-invokers.yml
  .gitignore
  buildpacks/common/Makefile
  buildpacks/java/Makefile
  buildpacks/python/Makefile
  codecov.yaml
  invokers/java/Makefile
  invokers/java/pom.xml
  invokers/python/Makefile
  invokers/python/tox.ini
Due: buildpacks, invokers

Update README.md
  README.md
Due: none

Update README.md (#209)
  README.md
Due: none

Remove builder
  .github/workflows/create-builder-release.yaml
  .github/workflows/integration-tests.yml
  .github/workflows/test-builder.yml
  .github/workflows/test-templates.yml
  CONTRIBUTING.md
  DEPLOYING.md
  Makefile
  README.md
  builder/Makefile
  builder/README.md
  builder/VERSION
  builder/ytt/builder.yaml
  builder/ytt/java.yaml
  builder/ytt/nodejs.yaml
  builder/ytt/python.yaml
  builder/ytt/schema.yaml
  buildpacks/java/README.md
  buildpacks/python/README.md
  invokers/README.md
  samples/java/cloudevents/txt-to-pdf-gradle/Makefile
  samples/java/cloudevents/txt-to-pdf-maven/Makefile
  samples/java/http/request-response-gradle/Makefile
  samples/java/http/request-response-gradle/README.md
  samples/java/http/request-response-maven/Makefile
  samples/java/http/request-response-maven/README.md
  samples/python/cloudevents/s3-lambda/README.md
  samples/python/cloudevents/sqs-lambda/README.md
  samples/python/cloudevents/txt-to-pdf/Makefile
  samples/python/http/adder/README.md
  tests/Makefile
  tests/integration/helper.go
  tests/testdata/template_and_smoke/echo-ce/Makefile
  tests/testdata/template_and_smoke/helloworld/Makefile
  tests/testdata/template_and_smoke/template-ce/Makefile
  tests/testdata/template_and_smoke/template-http/Makefile
Due: buildpacks, tests

wip; debug
  tests/integration/helper.go
Due: tests

run npm audit fix
  .github/actions/semver-bump/dist/index.js
  .github/actions/semver-bump/dist/index.js.map
  .github/actions/semver-bump/dist/sourcemap-register.js
  .github/actions/semver-bump/package-lock.json
  .github/actions/semver-bump/package.json
Due: none

run npm audit fix
  .github/actions/semver-bump/package-lock.json
  .github/actions/semver-bump/package.json
Due: none

run npm audit fix (#211)
  .github/actions/semver-bump/dist/index.js
  .github/actions/semver-bump/dist/index.js.map
  .github/actions/semver-bump/dist/sourcemap-register.js
  .github/actions/semver-bump/package-lock.json
  .github/actions/semver-bump/package.json
Due: none

Change SRP Provenance to use version 3.0
  .github/actions/srp-helper/collect/action.yml
  .github/actions/srp-helper/collect/collect.sh
  .github/actions/srp-helper/init/action.yml
  .github/actions/srp-helper/init/init.sh
  .github/actions/srp-helper/install/action.yml
  .github/actions/srp-helper/install/install.sh
  .github/actions/srp-helper/publish-container/action.yml
  .github/actions/srp-helper/publish-container/publish.sh
  .github/actions/srp-helper/submit/action.yml
  .github/actions/srp-helper/submit/submit.sh
  .github/workflows/create-buildpack-release.yaml
  .github/workflows/vmware-srp-report.yaml
Due: none

Update Dependency Versions
  .github/workflows/check-copyright-and-license.yml
  .github/workflows/code-coverage.yml
  .github/workflows/create-buildpack-release.yaml
  .github/workflows/integration-tests.yml
  .github/workflows/test-builder.yml
  .github/workflows/test-buildpacks.yml
  .github/workflows/test-templates.yml
  buildpacks/common/go.mod
  buildpacks/common/go.sum
  buildpacks/java/Makefile
  buildpacks/java/go.mod
  buildpacks/java/go.sum
  buildpacks/java/java/build.go
  buildpacks/java/tests/build_test.go
  buildpacks/java/ytt/dependency-metadata.yaml
  buildpacks/python/Makefile
  buildpacks/python/go.mod
  buildpacks/python/go.sum
  buildpacks/python/python/build.go
  buildpacks/python/tests/build_test.go
  invokers/java/pom.xml
  tests/go.mod
  tests/go.sum
  tools.mk
Due: buildpacks, invokers, tests

Update python invoker version to 0.2.3
  invokers/python/VERSION
Due: invokers

Update java invoker version to 0.2.3
  invokers/java/VERSION
Due: invokers

Update python buildpack version to 1.1.3
  buildpacks/python/VERSION
  buildpacks/python/buildpack.toml
Due: buildpacks

Update java buildpack version to 1.1.3
  buildpacks/java/VERSION
  buildpacks/java/buildpack.toml
Due: buildpacks

Update builder version to 0.4.3
  builder/VERSION
Due: none

Bump builder version in documentation
  DEPLOYING.md
  README.md
  samples/java/cloudevents/txt-to-pdf-gradle/Makefile
  samples/java/cloudevents/txt-to-pdf-maven/Makefile
  samples/java/http/request-response-gradle/Makefile
  samples/java/http/request-response-gradle/README.md
  samples/java/http/request-response-maven/Makefile
  samples/java/http/request-response-maven/README.md
  samples/python/cloudevents/s3-lambda/README.md
  samples/python/cloudevents/sqs-lambda/README.md
  samples/python/cloudevents/txt-to-pdf/Makefile
  samples/python/http/adder/README.md
Due: none

Bump builder version in documentation (#214)
  DEPLOYING.md
  README.md
  samples/java/cloudevents/txt-to-pdf-gradle/Makefile
  samples/java/cloudevents/txt-to-pdf-maven/Makefile
  samples/java/http/request-response-gradle/Makefile
  samples/java/http/request-response-gradle/README.md
  samples/java/http/request-response-maven/Makefile
  samples/java/http/request-response-maven/README.md
  samples/python/cloudevents/s3-lambda/README.md
  samples/python/cloudevents/sqs-lambda/README.md
  samples/python/cloudevents/txt-to-pdf/Makefile
  samples/python/http/adder/README.md
Due: none

add deprecation warnings to READMEs
  CONTRIBUTING.md
  DEPLOYING.md
  NOTICE
  README.md
Due: none

add deprecation warnings to READMEs (#215)
  CONTRIBUTING.md
  DEPLOYING.md
  NOTICE
  README.md
Due: none

add migration guide for users
  MIGRATION.md
  README.md
Due: none

fix wording on the python description
  MIGRATION.md
Due: none

change the wording and making a step a step guide
  MIGRATION.md
Due: none

delete buildpack subtitle
  MIGRATION.md
Due: none

Fix typo
  MIGRATION.md
Due: none

add migration guide for users (#216)
  MIGRATION.md
  README.md
Due: none

Path conditions:
  buildpacks: any of: buildpacks/common, buildpacks/java, buildpacks/python
  invokers: any of: invokers/java, invokers/python
  tests: any of: tests/
